@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    background-color: lightgray;
}

header {
    background-color: rgba(128, 128, 128, 0.808);
}

header > h1 {
    padding: 10px;
    text-align: center;
}

#burguer {
    background-color: rgb(48, 48, 48);
    color: white;
    width: 100vw;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

#burguer:hover {
    background-color: lightgray;
    color: black;
}

nav {
    display: none;
}

nav ul {
    list-style-type: none;
}

nav > ul >li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(87, 87, 87);
    color: white;
    border-top: 2px solid gray;
}

nav > ul >li > a:hover {
    background-color: gray;
}

main {
    background-color: white;
    width: 90vw;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
}